@media only screen and (max-width: 782px) {
    .nav-links {
        position: fixed;
        left: -100%;
        top: 5rem;
        display: flex;
        flex-direction: column;
        background-color: blue;
        width: 762px;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .nav-links.active {
        left: 0;
    }

    .navLinks {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: white;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #navBanner {
        margin-left: 100px;
    }

    header {
        align-items: center;
    }

    header > h1, p{
        width: 584px;
    }

    #description > p{
        padding: 0;
    }

    #narrative-1 {
        height: 760px;
        flex-direction: column;
        justify-content: center;
    }

    #narrative-2 {
        height: 760px;
        flex-direction: column;
        justify-content: center;
    }

    #narrative-3 {
        height: 760px;
        flex-direction: column;
        justify-content: center;
    }

    #narrative-4 {
        height: 760px;
        flex-direction: column;
        justify-content: center;
    }

    #whereToGet {
        height: 720px;
    }

}